@if (displayMenu && personalization) {

<div id="menu">
    @if(personalization && personalization.personalization.banner) {
    <div class="banner">
        <img src="{{personalization.personalization.banner}}" alt="">
    </div>
    }
    <div class="title">
        @if (personalization && personalization.company.logo) {
        <img src="{{personalization!.company.logo}}" alt="" class="logo">
        }
        <h1 style="text-align: center;"
            [ngStyle]="personalization? { color: personalization.personalization.titleColor} : {} ">
            {{personalization? personalization.company.name? personalization.company.name : "Mi menú personal" : "Menú"
            }}
        </h1>
    </div>
    <mat-divider></mat-divider>
    @if(personalization) {
    <p style="padding: 1rem;">
        {{personalization.company.description}}
    </p>
    <mat-divider></mat-divider>
    }
    <div >
        @if (schedules) {
        <div style="margin-top: 1rem; margin-bottom: 1rem; display: flex; flex-direction: column; align-items: center;">
            <h1>Horarios</h1>
            @for (schedule of schedules; track $index) {
                @if(schedule.available){
                    <b> de: {{schedule.openingHour}} a: {{schedule.openingHour}} </b>
                }
            }
        </div>
        <mat-divider></mat-divider>
        }        
    </div>
    @if(displayMenu) {
    <mat-tab-group>
        @for (submenu of displayMenu; track $index) {

        <mat-tab label="{{submenu.submenu.name}}"
            [ngStyle]="personalization? { color: personalization.personalization.titleColor} : {} ">
            @for (category of submenu.categories; track $index) {

            <mat-expansion-panel [expanded]="true" class="item-panel"
                [ngStyle]="personalization? { background: personalization.personalization.background } : {}">
                <mat-expansion-panel-header>
                    <mat-panel-title
                        [ngStyle]="personalization? { color: personalization.personalization.titleColor} : {} "> {{
                        category.category.name }} </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="item-container"
                    [ngStyle]="personalization? { background: personalization.personalization.background } : {}">

                    <ordering-menu [personalization]="personalization" [products]="category.products"
                        (prod)="checkProductDetail($event)" (orderItem)="addProductToCart($event)"></ordering-menu>
                </div>

            </mat-expansion-panel>

            }
        </mat-tab>

        }
    </mat-tab-group>
    }
</div>
}@else{
<app-loading-screen></app-loading-screen>
}