<mat-card class="card">
    <h1>
        Editar producto
    </h1>
    <div class="grid-container">
        <product-form
            (cancel)="cancel()"
            (submitProduct)="editProduct($event)"
            [uploading]="uploading"
            [product]="product"
            (file)="file = $event"
        ></product-form>
        <app-image-cropper
            [image]="file"
            (croppedImage)="this.cropped = $event"
            [url]="rawUrl"
            [cropper]="position"
        ></app-image-cropper>
    </div>
</mat-card>
