@media(min-width: 601px){
    .mat-column-options{
        div{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
    }
}

@media(max-width: 600px){
    .mat-column-options{
        max-width: 50%;
        div{
            justify-content: space-between;
        }
    }
}

.row:hover{
    filter: brightness(.9);
    cursor: pointer;
}

.row:nth-child(2n){
    background: hsl(0, 0%, 95%);
}

.row {
    transition: filter 0.3s ease;
}
