@media(max-width: 600px){
    .mat-column-options{
        width: 50%;
    }
}

.row:hover{
    filter: brightness(.9);
}

.row:nth-child(2n){
    background: rgb(250, 250, 250);
}

.row {
    transition: filter 0.3s ease;
}
