@media(max-width: 600px){
    .mat-column-options{
        max-width: 50%;
    }
}

.row:hover{
    filter: brightness(.9);
}

.row:nth-child(2n){
    background: hsl(0, 0%, 99%);
}

.row {
    transition: filter 0.3s ease;
}
