<mat-card class="card">
    <h1> Crear Producto </h1>
    <div class="grid-container">
        <div class="container">
            <product-form
                (submitProduct)="createProduct($event)"
                [uploading]="uploading"
                [categories]="categories!"
                (cancel)="cancel()"
                (file)="file = $event"
            ></product-form>
        </div>
        <app-image-cropper
            [image]="file"
            (croppedImage)="this.cropped = $event"
        ></app-image-cropper>
    </div>
    
</mat-card>