<nav class="navbar">
    <div class="page-header">
        <h1>
            {{route}}
        </h1>
    </div>
    <div (click)="toggleSidebar()">
        <mat-icon class="menu-icon">menu</mat-icon>
    </div>
    <!-- <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="margin: 0;">
                <li *ngFor="let breadcrumb of breadcrumbs; let isLast = last" 
                    class="breadcrumb-item" 
                    [ngClass]="{ 'active': isLast }">
                    <a *ngIf="!isLast" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                    <span *ngIf="isLast">{{ breadcrumb.label }}</span>
                </li>
            </ol>
        </nav>
    </div> -->
</nav>