<div class="mat-elevation-z8">
    <mat-card class="card">
        <div class="table-header card-header">
            <h1>
              {{title? title : "Lista de elementos"}}
            </h1>
            <div style="display: flex; gap: 1rem;">
              <button mat-raised-button color="primary" (click)="create()" >
                <mat-icon >
                  add
                </mat-icon>
                Agregar
              </button>
              <button mat-raised-button color="primary" (click)="goToOrderingPage()" >
                <mat-icon>
                  point_of_sale
                </mat-icon>
                Ver menu
              </button>
            </div>
          </div>
          <div class="responsive-card-header">
            <h1>
              Productos
            </h1>
            <div style="display: flex; gap: 1rem;">
              <button mat-icon-button color="primary" (click)="create()" >
                <mat-icon >
                  add
                </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="goToOrderingPage()" >
                <mat-icon>
                  point_of_sale
                </mat-icon>
              </button>
            </div>
          </div>
        <app-table
            [title]="title"
            [data]="data"
            [headers]="headers"
            [setSize]="data? data.length : 0"
            [config]="tableConfig"
            (create)="create()"
            (edit)="edit($event)"
            (deleteItem)="deleteItem($event)"
            (toggle)="toggleProduct($event)"
            (selection)="openSelectedProduct($event)"
        ></app-table>
    </mat-card>
</div>