<div class="mat-elevation-z8">
    <mat-card class="card">
        <div *ngIf="!data" style="display: flex; justify-content: center; align-items: center;">
            <mat-spinner></mat-spinner>
        </div>
        <app-table
            *ngIf="data"
            [title]="title"
            [data]="data"
            [headers]="headers"
            [setSize]="data.length"
            [config]="tableConfig"
            (create)="create()"
            (edit)="edit($event)"
            (deleteItem)="deleteItem($event)"
            (toggle)="toggleProduct($event)"
            (order)="goToOrderingPage()"
        ></app-table>
    </mat-card>
</div>