<div class="body">
    <div class="shadow">
        <nav>
            <div class="title">
                <img src="../../../../assets/bell.svg" alt="">
                <h1>
                    Fastbites
                </h1>
            </div>
            <ul>
                <li>
                    <button mat-raised-button color="primary">
                        Agendar llamada
                    </button>
                </li>
                <li>
                    <a href="" class="link"> Registrar </a>
                </li>
                <li>
                    <a href="" class="link"> Comparar </a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="hero-info">
                <h1>
                    Gestión efectiva... Al alcance de tu mano
                </h1>
                <h3>
                    Eleva tu nivel con un sistema a la medida
                </h3>
                <p>
                    Enriquece tu restaurante con experiencias 
                    digitales a la vanguardia, que te permitan ofrecer
                    un mejor servicio a tus comensales, facilitando los
                    tiempos y la operación de tu negocio.
                </p>
                <div class="form-actions">
                    <button mat-raised-button color="primary">
                        Registrarme
                    </button>
                    <button mat-raised-button >
                        Iniciar sesión
                    </button>
                </div>
            </div>
        </main>
        <footer>

        </footer>
        <!-- 
        <main>
            <div class="hero-info">
                <h1>
                    Gestión efectiva... Al alcance de la mano
                </h1>
                <h3>
                    Eleva tu nivel con un sistema a la medida
                </h3>
                <p>
                    Enriquece tu restaurante con experiencias 
                    digitales a la vanguardia, que te permitan ofrecer
                    un mejor servicio a tus comensales, facilitando los
                    tiempos y la operación de tu negocio.
                </p>
            </div>
        </main>
        <footer>
            <ul>
                <li>
                    Facebook
                </li>
                <li>
                    X
                </li>
                <li>
                    Youtube
                </li>
            </ul>
        </footer> -->
    </div>
</div>