<div class="body">
    <div class="shadow">
        <nav>
            <div class="title">
                <img src="../../../../assets/bell.svg" alt="">
                <h1>
                    Fastbites
                </h1>
            </div>
            <ul>
                <ul>
                    <li>
                        <button mat-icon-button >
                            <mat-icon>
                                menu
                            </mat-icon>
                        </button>
                    </li>
                </ul>
                <li>
                    <button mat-raised-button color="primary" (click)="goToLogin()">
                        Iniciar sesión
                    </button>
                </li>
                <li>
                    <a href="" class="link"> Conócenos </a>
                </li>
                <li>
                    <a href="" class="link"> documentación </a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="hero-info">
                <h1>
                    Mas ventas, menos trabajo
                </h1>
                <h3>
                    Alrededor del 60% de los restaurantes fracasan por falta de planeación y gestión adecuada
                </h3>
                <p>
                    Fastbites es la solución para tener un mayor control de tu restaurante; garantiza tus ganancias sin contratar más personal, sin hacerlo todo tu solo
                </p>
                <div class="form-actions">
                    <button mat-raised-button color="primary">
                        Quiero Fastbites
                    </button>
                </div>
            </div>
        </main>
        <footer>

        </footer>
        <!-- 
        <main>
            <div class="hero-info">
                <h1>
                    Gestión efectiva... Al alcance de la mano
                </h1>
                <h3>
                    Eleva tu nivel con un sistema a la medida
                </h3>
                <p>
                    Enriquece tu restaurante con experiencias 
                    digitales a la vanguardia, que te permitan ofrecer
                    un mejor servicio a tus comensales, facilitando los
                    tiempos y la operación de tu negocio.
                </p>
            </div>
        </main>
        <footer>
            <ul>
                <li>
                    Facebook
                </li>
                <li>
                    X
                </li>
                <li>
                    Youtube
                </li>
            </ul>
        </footer> -->
    </div>
</div>