<mat-sidenav-container class="container" style="width: 100vw; height: 100vh;">
    <mat-sidenav opened="{{toggle}}" [(opened)]='toggle' (opened)="toggle=true" (closed)="close()" [position]="'end'" >
        <div class="sidenav">
            <ul>
                <li>
                    <a href="" [routerLink]="'/auth/login'"  class="link">
                        <mat-icon class="icon" > login- </mat-icon>
                        Iniciar sesión
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/about'" >
                        <mat-icon class="icon"> person </mat-icon>
                        Conocenos
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/book'" >
                        <mat-icon class="icon"> call </mat-icon>
                        Agendar cita
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/documentation'" >
                        <mat-icon class="icon"> book </mat-icon>
                        Documentación
                    </a>
                </li>
                <li (click)="toggleSidebar()">
                    <mat-icon class="icon" > close </mat-icon>
                    Cerrar Menú
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="body">
            <div class="shadow">
                <nav>
                    <div class="title">
                        <img src="../../../../assets/bell.svg" alt="">
                        <h1>
                            Fastbites
                        </h1>
                    </div>
                    <ul>
                        <ul>
                            <li>
                                <button mat-icon-button (click)="toggleSidebar()" >
                                    <mat-icon>
                                        menu
                                    </mat-icon>
                                </button>
                            </li>
                        </ul>
                        <li>
                            <button mat-raised-button color="primary" (click)="goToLogin()">
                                Iniciar sesión
                            </button>
                        </li>
                        <li>
                            <a href="" [routerLink]="'/public/about'" class="link"> Conócenos </a>
                        </li>
                        <li>
                            <a href="" [routerLink]="'/public/book'" class="link"> Agendar </a>
                        </li>
                        <li>
                            <a href="" [routerLink]="'/public/documentation'" class="link"  > Documentación </a>
                        </li>
                    </ul>
                </nav>
                <main>
                    <div class="hero-info">
                        <h1>
                            Mas ventas, menos trabajo
                        </h1>
                        <h3>
                            Alrededor del 60% de los restaurantes fracasan por falta de planeación y gestión adecuada
                        </h3>
                        <p>
                            Fastbites es la solución para tener un mayor control de tu restaurante; garantiza tus
                            ganancias sin contratar más personal, sin hacerlo todo tu solo
                        </p>
                        <div class="form-actions">
                            <button mat-raised-button color="primary" [routerLink]="'/public/buy'" >
                                Quiero Fastbites
                            </button>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>