<mat-stepper #stepper>
    <mat-step label="Confirma tu orden" >
        <div class="item" *ngFor="let item of orderResume; let i = index">
            <div class="info">
                <div class="header">
                    <h3>
                        {{item.product.name}}
                    </h3>
                    <h3>
                        {{item.product.price | currency}}
                    </h3>
                </div>
                <div style="display: flex; align-items: center;">
                    <div class="item-body" style="display: flex; gap: 1ch; align-items: center;">
                        <button mat-icon-button color="primary" (click)="substractItem(i)">
                            <mat-icon>
                                chevron_left
                            </mat-icon>
                        </button>
                        <span>
                            {{item.quantity}}
                        </span>
                        <button mat-icon-button color="primary" (click)="addItem(i)" >
                            <mat-icon>
                                chevron_right
                            </mat-icon>
                        </button>
                    </div>
                    <button mat-icon-button style="color: red;" (click)="removeItem(i)" >
                        <mat-icon> delete </mat-icon>
                    </button>
                </div>
            </div>
            <div class="img">
                <img src="{{item.product.croppedImage}}" alt="">
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; justify-content: space-between; margin-top: 1rem;">
            <button color="primary" mat-raised-button style="background: red;" (click)="cleanCart()" >
                <mat-icon>
                    delete
                </mat-icon>
                Limpiar el carrito
            </button>
            <h2>
                Total: {{total | currency}}
            </h2>
        </div>
        <div class="form-actions">
            <button mat-raised-button color="primary" matStepperNext>
                Siguiente
            </button>
        </div>
    </mat-step>
    <mat-step label="Introduce tus datos" [stepControl]="dataForm" >
        <form action="" [formGroup]="dataForm" >
            <mat-form-field>
                <mat-label>
                    Nombre
                </mat-label>
                <input type="text" matInput formControlName="name" >
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Detalles
                </mat-label>
                <textarea rows="5" type="text" matInput  formControlName="details" ></textarea>
            </mat-form-field>
            <div class="form-actions">
                <button mat-raised-button matStepperPrevious >
                    Regresar
                </button>
                <button mat-raised-button color="primary" matStepperNext [disabled]="dataForm.invalid" >
                    Siguiente
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step label="datos de pago" [stepControl]="paymentForm" >
        <form action="" [formGroup]="paymentForm" >
            <mat-form-field>
                <mat-label>
                    Tipo de pago
                </mat-label>
                <mat-select formControlName="type">
                    <mat-option value="cash" > Efectivo </mat-option>
                    <mat-option value="card" > Tarjeta </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Tipo de pago electrónico
                </mat-label>
                <mat-select formControlName="debitOrCredit">
                    <mat-option value="credit" > Crédito </mat-option>
                    <mat-option value="debit" > Débito </mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Teléfono
                </mat-label>
                <input type="text" matInput formControlName="phone" >
            </mat-form-field>
            <div class="form-actions">
                <button mat-raised-button matStepperPrevious>
                    Regresar
                </button>
                <button mat-raised-button color="primary" (click)="submitOrder()" [disabled]="paymentForm.invalid || dataForm.invalid || uploading" >
                    @if (uploading) {
                        <mat-spinner diameter="35"></mat-spinner>
                    }@else{
                        <span>
                            Finalizar Orden
                        </span>
                    }
                </button>
            </div>
        </form>
    </mat-step>
</mat-stepper>