<div class="card">
    <img src="{{product.rawImage}}" alt="La imagen de un producto" loading="lazy" (load)="imageload = !imageload" [ngClass]="imageload? ['loaded'] : ['unloaded']" >
    <div class="card-header">
        <h1 style="text-align: center;">
            Información del producto
        </h1>
    </div>
    <div class="data">
        <div class="field">
            <b>Nombre:</b>
            <p>{{product.name}}</p>
        </div>
        <div class="field">
            <b>Costo de producción:</b>
            <p>{{product.cost | currency}}</p>
        </div>
        <div class="field">
            <b>Precio de venta:</b>
            <p>{{product.price | currency}}</p>
        </div>
        <div class="field">
            <b>Disponibilidad:</b>
            <mat-slide-toggle [checked]="product.available" [disabled]="true" >
                {{product.available? "Disponible" : "No disponible"}}
            </mat-slide-toggle>
        </div>
        <div class="field">
            <b>Descripción:</b>
            <p >{{product.description}}</p>
        </div>
    </div>
    <div class="form-actions">
        <button mat-raised-button color="primary" (click)="dialogRef.close()">
            aceptar
        </button>
    </div>
</div>