.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    img{
        width: 100%;
        aspect-ratio: 1/1;
        
        object-fit: contain;
        border: 3px dashed #afafaf;
        margin-bottom: 1rem;
        border-radius: 1rem;
        .unloaded{
            background: black;
        }
        .loaded{
            background: transparent;
        }
    }
    .data{
        width: 100%;
        .field{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .field:last-child{
            flex-direction: column;
            p{
                background: #efefef;
                border-radius: 1rem;
                padding: .5ch;
                height: 5ch;
                white-space: nowrap;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
            }
        }
    }
}


.form-actions{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}