<mat-card class="card">
    <mat-stepper [linear]="true" #stepper>
        <mat-step label="Datos personales" [stepControl]="personalDataForm">
            <div class="step">
                <div class="card-header">
                    <h1> Cuentanos un poco sobre ti </h1>
                </div>
                <personal-data-form [form]="personalDataForm"></personal-data-form>
                <div class="form-actions">
                    <button mat-raised-button matStepperNext color="primary">
                        siguiente
                    </button>
                </div>
            </div>
        </mat-step>
        <mat-step label="Selecciona tu plan">
            <div class="step">
                <div class="card-header">
                    <h1> Planes disponibles </h1>
                </div>
                <div>
                    <p>
                        plan escogido:
                        <b> {{planForm.get("plan")!.value? (planForm.get("plan")!.value).title : "No se ha escodigo un plan"}} </b>
                    </p>
                </div>
                <div style="margin-bottom: 1rem;">
                    <mat-slide-toggle  (change)="setTrial($event)"> Iniciar prueba gratuita de 15 días </mat-slide-toggle>
                </div>
                <div class="card-header">
                    <h2> Escoge un plan </h2>
                </div>
                <div class="grid-container">
                    @for (plan of plans; track $index; let i = $index) {
                    <plan-card [plan]="plan" (selected)="planForm.get('plan')?.setValue($event)" ></plan-card>
                    }
                </div>
                <div class="form-actions">
                    <button mat-raised-button matStepperPrevious>
                        Anterior
                    </button>
                    <button mat-raised-button matStepperNext color="primary">
                        siguiente
                    </button>
                </div>
            </div>
        </mat-step>
        <mat-step label="Método de pago">
            <div class="step">
                <div class="card-header">
                    <h1> Introduce un método de pago </h1>
                </div>
                @if (planForm.get("trial")!.value) {
                    <p> No se generarán cargos hasta que termine tu prueba gratuita. </p>
                }
                <card-form
                    [disablebuttons]="true"
                    [form]="cardForm"
                ></card-form>
            </div>
            <div class="form-actions">
                <button mat-raised-button matStepperPrevious>
                    Anterior
                </button>
                <button mat-raised-button matStepperNext color="primary">
                    siguiente
                </button>
            </div>
        </mat-step>
        <mat-step label="Resumen General" >
            <div class="step">
                <div class="card-header">
                    <h1> Resumen </h1>
                </div>
                <div class="card-body">
                    <h2> Tus datos personales </h2>
                    <p>
                        Tu nombre:
                        <b> {{ personalDataForm.get("name")!.value }} </b>
                    </p>
                    <p>
                        Tu Correo:
                        <b> {{ personalDataForm.get("email")!.value }} </b>
                    </p>
                    <p>
                        Teléfono:
                        <b> {{ personalDataForm.get("phone")!.value }} </b>
                    </p>
                </div>
                <div class="card-body">
                    <h2> Tu plan escogido </h2>
                    <p>
                        Plan:
                        <b> {{ (planForm.get("plan")!.value).title }} </b>
                    </p>
                    <p>
                        Precio:
                        <b> {{ (planForm.get("plan")!.value).price | currency }} </b>
                    </p>
                </div>

            </div>
            <div class="form-actions">
                <button mat-raised-button matStepperPrevious>
                    Anterior
                </button>
                <button mat-raised-button matStepperNext color="primary">
                    siguiente
                </button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-card>