<div class="container">
    <mat-card class="card">
        <div class="logo">
            <div class="title">
                <img src="../../../../assets/bell.svg" alt="">
                <h1>
                    Fastbites
                </h1>
            </div>
            <!-- <span *ngIf="profile && !profile.isActive" style="color: red;">
                Subscripción inactiva
            </span> -->
            <mat-divider class="divider"></mat-divider>
        </div>
        <router-outlet></router-outlet>
    </mat-card>
</div>