<form action="" [formGroup]="form" (submit)="submitForm()" >
    <section class="grid-container">
        <mat-form-field>
            <mat-label>
                Nombre completo
            </mat-label>
            <input type="text" matInput formControlName="name" >
            <mat-error *ngIf="name.hasError('required')">
                ¡Necesitamos tu nombre!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Correo electrónico
            </mat-label>
            <input type="email" matInput formControlName="email" >
            <mat-error *ngIf="name.hasError('required')">
                ¡Necesitamos tu nombre!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Teléfono celular
            </mat-label>
            <input type="text" matInput formControlName="phone" >
        </mat-form-field>
    </section>
    <div class="grid-container">
        <mat-form-field>
            <mat-label>
                Dirección
            </mat-label>
            <textarea name="" id="" rows="10" matInput formControlName="address" ></textarea>
        </mat-form-field>
    </div>
    @if(enable){
        <div class="form-actions">
            @if (!disableCancel) {
                <button mat-raised-button type="button" (click)="cancelForm.emit()" >
                    <mat-icon>
                        cancel
                    </mat-icon>
                    Cancelar
                </button>
            }
            <button mat-raised-button color="primary" type="submit" [disabled]="uploading || form.invalid" >
                @if (!uploading) {
                    <span style="display: flex; align-items: center; gap: 1ch;">
                        <mat-icon>
                            save
                        </mat-icon>
                        Guardar cambios
                    </span>
                }@else {
                    <mat-spinner diameter="35" ></mat-spinner>
                }
            </button>
        </div>
    }
</form>