<div class="dialog">
    <h1 class="title">
        {{message.name}}
    </h1>
    <p>
        {{message.message}}
    </p>
    <div class="actions">
        <button mat-raised-button (click)="dialogRef.close(false)" >
            <mat-icon>
                cancel
            </mat-icon>
            Cancelar
        </button>
        <button mat-raised-button color="primary" (click)="dialogRef.close(true)">
            <mat-icon>
                done
            </mat-icon>
            Guardar
        </button>
    </div>
</div>