.field{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form-actions{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.card-header{
    margin-top: 1rem;
}