<form action="" [formGroup]="form" (submit)="submitForm()" >
    <mat-card class="card">
        <div class="card-header">
            <h1> Información de la empresa </h1>
            @if (!edit) {
                <button mat-icon-button type="button" color="primary" (click)="alternateform()" >
                    <mat-icon> edit </mat-icon>
                </button>
            }
        </div>
        <mat-divider></mat-divider>
        <div class="grid-container" style="margin-top: 1rem; margin-bottom: 1rem;">
            <form action="" [formGroup]="company">
                <mat-form-field>
                    <mat-label> Nombre de La Empresa </mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Descripción </mat-label>
                    <textarea name="" id="" rows="10" matInput formControlName="description"></textarea>
                </mat-form-field>
                @if (edit) {
                <h3> Logo de la empresa </h3>
                <image-dropper  [id]="'Logo'" (file)="setLogo($event)"></image-dropper>
                }
            </form>
            @if (company.get('logo')!.value) {
            <img src="{{displayLogo}}" alt="">
            }
            @else {
            <div class="placeholder">
                <mat-icon class="icon">image</mat-icon>
            </div>
            }
        </div>
        <mat-divider></mat-divider>
        <div class="card-header">
            <h1> Personalización del menú </h1>
        </div>
        <div class="grid-container" style="margin-bottom: 1rem;">
            <form action="" [formGroup]="personalization">
                <mat-form-field>
                    <mat-label>
                        Color de los botones en el Menu
                    </mat-label>
                    <input type="color" matInput formControlName="buttonColor">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        Color de los Textos en botones
                    </mat-label>
                    <input type="color" matInput formControlName="actionsFontColor">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        Color del fondo de pantalla
                    </mat-label>
                    <input type="color" matInput formControlName="background">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        Color de los titulos de las categorias
                    </mat-label>
                    <input type="color" matInput formControlName="titleColor">
                </mat-form-field>
            </form>
        </div>
        <mat-divider></mat-divider>
        @if (edit) {
            <div class="actions">
                <button type="button" mat-raised-button (click)="alternateform()" >
                    <mat-icon>
                        cancel
                    </mat-icon>
                    Cancelar
                </button>
                <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || uploading">
                    <div style="display: flex; align-items: center; gap: 1ch;" *ngIf="!uploading">
                        <mat-icon>
                            save
                        </mat-icon>
                        Guardar
                    </div>
                    <mat-spinner diameter="35" *ngIf="uploading"></mat-spinner>
                </button>
            </div>
        }
    </mat-card>
</form>