<form action="" [formGroup]="form" (submit)="submitCat()" >
    <mat-form-field>
        <mat-label> Nombre de la categoría </mat-label>
        <input type="text" matInput formControlName="name" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Description
        </mat-label>
        <textarea name="" id="" rows="10" matInput  formControlName="description" ></textarea>
    </mat-form-field>
    <mat-slide-toggle formControlName="available" > Disponible </mat-slide-toggle>
    <form-actions [disabled]="form.invalid" [uploading]="uploading" (cancel)="cancel.emit()" ></form-actions>
</form>