<div>
    <h1> Galería de fotos</h1>
</div>
@if (!images) {
    <div style="display: grid; place-content: center;">
        <mat-spinner diameter="150"></mat-spinner>
    </div>
}@else {
    <div>
        @for (image of images; track $index) {
            <div>
                <img src="{{image.url}}" alt="" style="max-width: 100%; object-fit: contain;">
                <h2> {{image.name}} </h2>
                @if (image.description) {
                    <p> {{image.description}} </p>
                }
            </div>
        }
    </div>
}