<mat-sidenav-container>
    <mat-sidenav opened="{{toggle}}" [(opened)]='toggle' (opened)="toggle=true" (closed)="close()" [position]="'end'" >
        <div class="sidenav">
            <ul>
                <li>
                    <a href="" [routerLink]="'/auth/login'"  class="link">
                        <mat-icon class="icon" > login- </mat-icon>
                        Iniciar sesión
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/about'" >
                        <mat-icon class="icon"> person </mat-icon>
                        Conocenos
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/book'" >
                        <mat-icon class="icon"> call </mat-icon>
                        Agendar cita
                    </a>
                </li>
                <li>
                    <a href="" class="link" [routerLink]="'/public/documentation'" >
                        <mat-icon class="icon"> book </mat-icon>
                        Documentación
                    </a>
                </li>
                <li (click)="toggleSidebar()">
                    <mat-icon class="icon" > close </mat-icon>
                    Cerrar Menú
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <div>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color="primary">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar>
          <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>