<form action="" [formGroup]="form" (submit)="submitProd()">
    <mat-form-field>
        <mat-label>
            Nombre
        </mat-label>
        <input type="text" matInput formControlName="name" placeholder="Cual es el nombre de tu producto">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Descripción
        </mat-label>
        <textarea rows="5" formControlName="description" matInput placeholder="describe un poco mas a detalle tu producto"></textarea>
    </mat-form-field>
    <div class="grid-container">
        <mat-form-field>
            <mat-label>
                Costo
            </mat-label>
            <input type="text" matInput formControlName="cost" currencyMask [options]="{prefix: 'MXN$', thousands: ',', decimals: '.'}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Precio
            </mat-label>
            <input type="text" matInput formControlName="price" currencyMask [options]="{prefix: 'MXN$', thousands: ',', decimals: '.'}" >
        </mat-form-field>
    </div>
    <div class="actions" style="display: flex; flex-direction: column; margin-bottom: 1rem;">
        <button mat-raised-button color="primary">
            <mat-icon>
                add_photo_alternate
            </mat-icon>
            Agregar imagen al producto
        </button>
    </div>
    <mat-slide-toggle formControlName="available">
        Disponible
    </mat-slide-toggle>
    <form-actions 
        (cancel)="cancel.emit()"
        [uploading]="uploading" 
        [disabled]="form.invalid"
    ></form-actions>
</form>