.body{
    .item{
        display: flex;
        gap: 1ch;
        .info{
            width: -webkit-fill-available;
            .header{
                display: flex;
                justify-content: space-between;
            }
        }
        .img{
            display: grid;
            place-content: center;
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}
