<div class="mat-elevation-z8">
    <mat-card class="card">
        <div class="card-header">
            <h1>
                Comanda en admin
            </h1>
            <button mat-raised-button color="primary" (click)="goToCheckout()">
                <mat-icon>
                    shopping_cart
                </mat-icon>
                <!-- Confirmar Orden: {{cart.length}} Items -->
                Confirmar Orden: {{cart.length}} Items
            </button>
        </div>
        <mat-divider></mat-divider>
        @if(displayMenu) {
            
            <mat-tab-group>
                
                @for (submenu of displayMenu; track $index) {
                    <mat-tab label="{{submenu.submenu.name}}">
                        @for (category of submenu.categories; track $index) {
                            <mat-expansion-panel [expanded]="true" >
                                <mat-expansion-panel-header>
                                    <mat-panel-title> {{ category.category.name }} </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ordering-menu [products]="category.products" (orderItem)="addProduct($event)" ></ordering-menu>
                            </mat-expansion-panel>
                        }
                    </mat-tab>
                }
            </mat-tab-group>
        }
        @else {
        <div style="display: grid; place-content: center; padding: 1rem;">
            <mat-spinner diameter="140"></mat-spinner>
        </div>
        }
    </mat-card>
</div>