<form action="">
    <section class="grid-container">
        <mat-form-field>
            <mat-label>
                Nombre Fiscal
            </mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                RFC
            </mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Código Postal
            </mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </section>
    <mat-form-field>
        <mat-label>
            Domicilio Fiscal
        </mat-label>
        <textarea name="" id="" rows="5" matInput></textarea>
    </mat-form-field>
</form>