$icon-size: 5rem;
$placeholder-color: #afafaf;

.placeholder{
    border: 1px dashed $placeholder-color;
    display: grid;
    place-content: center;
    border-radius: 1rem;
    .icon{
        color: $placeholder-color;
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
    }
}

img{
    max-width: 100%;
    object-fit: contain;
}