<form action="" [formGroup]="form" >
    <mat-form-field>
        <mat-label>
            Nombre
        </mat-label>
        <input type="text" matInput formControlName="name" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Eslogan
        </mat-label>
        <input type="text" matInput formControlName="slogan" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Descripción
        </mat-label>
        <textarea  rows="10"  matInput formControlName="description"  ></textarea>
    </mat-form-field>
</form>