<div class="card">
    <div class="card-header">
        <form [formGroup]="form" >
          <mat-form-field>
            <mat-label> Buscar </mat-label>
            <mat-icon matPrefix > search </mat-icon>
            <input type="text" matInput formControlName="name" >
          </mat-form-field>
        </form>
        <button mat-icon-button color="primary" (click)="createGroup()" >
          <mat-icon> add </mat-icon>
        </button>
      </div>
    <app-table
        [data]="displayGroups"
        [headers]="headers"
        [config]="tableConfig"
        (edit)="editGroup($event)"
        (deleteItem)="deleteGroup($event)"
    ></app-table>
</div><p>groups works!</p>
