@use "../../../../colors.scss" as colors;

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    .logo {

        // h1{
        //     width: 17rem;
        //     max-width: 17rem;
        //     text-align: center;
        //     padding-top: 1rem;
        //     margin: 0;
        // }
        span {
            display: flex;
            justify-content: center;
        }

        img {
            max-width: 250px;
            height: fit-content;
            margin: 0;
            padding: 0;
        }

        .divider {
            margin: 10px;
        }
    }

    .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        .menu-item {
            cursor: pointer;
            height: 3rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 1rem;
            border-radius: 5px;

            &:hover {
                transform: scale(1.01);
                // background: colors.$fifth-color;
                color: black;

                .icon {
                    color: black !important;
                }
            }

            .icon {
                padding: 1rem;
                color: colors.$secondary-text;
            }
        }
    }

    .selected {
        background-color: colors.$primary-color;
        color: white;

        .icon {
            color: white !important;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1ch;

    img {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-family: "Playwrite AU SA", serif;
    }
}

.firstTime {
    pointer-events: none;
    filter: opacity(.3);
}

.last {
    .legend {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            margin: 0;
            font-weight: bold;
        }

        p {
            margin: 0;
        }
    }
}