<div class="grid-container" style="margin-bottom: 1rem;">
    <mat-card>
        <div class="header">
            <h2 style="text-align: center;">
                Ventas totales de hoy
            </h2>
            <p style="text-align: center;">
                <b>
                    {{total | currency}}
                </b>
            </p>
        </div>
    </mat-card>
    <mat-card>
        <div class="header">
            <h2 style="text-align: center;">
                Fecha de hoy
            </h2>
            <p style="text-align: center;">
                <b>
                    {{date}}
                </b>
            </p>
        </div>
    </mat-card>
</div>
<mat-card class="card">
    <app-table
        [title]="title"
        [data]="data"
        [headers]="headers"
        [setSize]="size"
        [config]="tableConfig"
    ></app-table>
</mat-card>
