<div class="grid-container" style="margin-bottom: 1rem;">
    <app-info-card
        [title]="'Fecha de hoy'"
        [message]="date"
    ></app-info-card>
    <app-info-card
        [title]="'Ventas del día'"
        [message]="total"
        [type]="'CURRENCY'"
    ></app-info-card>
    <app-info-card
        [title]="'Ventas del mes'"
        [message]="MonthTotal"
        [type]="'CURRENCY'"
    ></app-info-card>
    <app-info-card
        [title]="'Ganancia neta del mes'"
        [message]="earnings"
        [type]="'CURRENCY'"
    ></app-info-card>
    <app-info-card
        [title]="'Producto Popular del mes'"
        [message]="trendProduct"
    ></app-info-card>
</div>
<div style="display: flex; flex-direction: column; gap: 1rem;">
    <mat-card class="card">
        <div class="card-header">
            <h1>
                Ventas del día
            </h1>
        </div>
        <app-table
            [title]="title"
            [data]="data"
            [headers]="headers"
            [setSize]="size"
            [config]="tableConfig"
        ></app-table>
    </mat-card>
    <mat-card class="card">
        <div class="card-header">
            <h1>
                Ventas del mes
            </h1>
        </div>
        <app-table
            [title]="salesTitle"
            [data]="sales"
            [headers]="salesHeaders"
            [setSize]="size"
            [config]="tableConfig"
        ></app-table>
    </mat-card>
</div>