<div class="placeholder" *ngIf="!image && !url">
    <mat-icon class="placeholder-icon">
      image
    </mat-icon>
    Aqui van tus imagen
  </div>
  <image-cropper
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 3"
        [imageFile]="$any(image)"
        format="jpeg"
        (imageCropped)="handleCroppedImage($event)"
        *ngIf="image"
      ></image-cropper>
    <image-cropper
      *ngIf="url"
      [maintainAspectRatio]="true"
      [aspectRatio]="3 / 3"
      [imageURL]="$any(url)"
      format="jpeg"
      (imageCropped)="handleCroppedImage($event)"
    ></image-cropper>
  