<mat-card>
  <mat-tab-group>
    <mat-tab label="Productos">
      <ng-template mat-tab-label>
        <span class="tab-header">
          <mat-icon class="example-tab-icon">lunch_dining</mat-icon>
          Productos
        </span>
      </ng-template>
      <div class="card">
        <app-products  [products]="products" [categories]="categories" ></app-products>
      </div>
    </mat-tab>
    <mat-tab label="Categorías">
      <ng-template mat-tab-label class="tab-header" >
        <span class="tab-header">
          <mat-icon class="example-tab-icon"> category </mat-icon>
          Categorías
        </span>
      </ng-template>
      <div class="card">
        <app-categories [categories]="categories" ></app-categories>
      </div>
    </mat-tab>
    <mat-tab label="Submenús">
      <ng-template mat-tab-label class="tab-header" >
        <span class="tab-header">
          <mat-icon class="example-tab-icon"> menu_book </mat-icon>
          Submenús
        </span>
      </ng-template>
      <div class="card">
        <app-submenus [submenus]="submenus" [menu]="menu!" ></app-submenus>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
