<mat-card class="card">
    <div class="card-header">
        <h1>
            Comanda en admin
        </h1>
        <button mat-raised-button color="primary" (click)="goToCheckout()">
            <mat-icon>
                shopping_cart
            </mat-icon>
            Confirmar Orden: {{cart.length}} Items
        </button>
    </div>
    @if(menuCategories){
        <mat-accordion [multi]="true" >
            @for (category of menuCategories; track $index; let i = $index) {
            <mat-expansion-panel [expanded]="true" >
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ category.category.name }} </mat-panel-title>
                </mat-expansion-panel-header>
                <ordering-menu [products]="category.products" ></ordering-menu>
            </mat-expansion-panel>
            }
        </mat-accordion>
    }@else {
        <div class="grid-container">
            <mat-spinner diameter="150"></mat-spinner>
        </div>
    }
</mat-card>