<div class="header">
    <h1 style="text-align: center;">
        Iniciar sesión
    </h1>
</div>

<div class="alternative-login">
    <button mat-raised-button class="mat-elevation-z8 google-button"  >
        <span class="oauth-button">
            <img src="../../../../assets/google.svg" alt="">
           Acceder con Google 
        </span>
    </button>
    <mat-hint style="margin-top: 1rem;">
        Al iniciar con google aceptas nuestro 
        <a href="" class="link" [routerLink]="['/public/terms']">
            Términos y condiciones
        </a>
    </mat-hint>
</div>

<div class="alternatives" style="margin: 1ch;">
    <hr>
    <p style="text-align: center;">
        O
    </p>
    <hr>
</div>

<form action="" [formGroup]="form" (submit)="login()">
    <mat-form-field>
        <mat-label>
            Correo electrónico
        </mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
            ¡Introduce tu correo electrónico!
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
            Revisa tu campo de correo electrónico
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Contraseña
        </mat-label>
        <input  [type]="hide ? 'password' : 'text'" matInput formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" tabindex="-1" type="button">
            <mat-icon>{{hide ? 'visibility_off' :  'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('minlength')">
            La contraseña es muy corta
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
            Introduce tu contraseña
        </mat-error>
    </mat-form-field>
    <div class="links" style="display: flex; flex-direction: column; gap: 2ch; align-items: center; margin-top: 1rem;">
        <span>
            <a class="link" href="" [routerLink]="['/auth/recover']">
                He olvidado mi contraseña
            </a>
        </span>
        <span>
            <a class="link" href="" [routerLink]="['/auth/register']">
                No tengo cuenta
            </a>
        </span>
    </div>
    <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || uploading">
            <span *ngIf="!uploading">
                iniciar sesión
            </span>
            <mat-spinner *ngIf="uploading" diameter="35"></mat-spinner>
        </button>
    </div>
</form>