<div class="header">
    <h1 style="text-align: center;">
        Iniciar sesión
    </h1>
</div>
<form action="" [formGroup]="form" (submit)="login()" >
    <mat-form-field>
        <mat-label>
            Correo electrónico
        </mat-label>
        <input type="text" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Contraseña
        </mat-label>
        <input type="password" matInput>
    </mat-form-field>
    <div class="links">
        <a href="" [routerLink]="'/auth/register'" class="link">
            Registrarse
        </a>
        <a href="" [routerLink]="'/auth/recover'" class="link">
            Recuperar mi cuenta
        </a>
    </div>
    <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
            iniciar-sesión
        </button>
    </div>
</form>