/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    padding: .5rem;
}

form{
    display: flex;
    flex-direction: column;
}

.links{
    margin-bottom: 1rem;
    a{
        text-decoration: none;
        color: #3f51b5;
    }
}

.form-actions{
    display: flex; 
    flex-direction: column;
}