@import "./colors.scss";

html, body { height: 100%; outline: none; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar{
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: $fifth-color;
}

*::-webkit-scrollbar-thumb{
    background: $primary-color;
}

*:focus{
    outline: none;
}

.full-size-viewport{
    width: 100vw;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
}

.actions{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.link{
    text-decoration: none;
    color: #1976d2;

    &:hover{
        filter: brightness(.7);
    }
}

.dialog{
    h1{
        text-align: center;
        font-weight: 300;
    }
}

.message{
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.dialog{
    padding: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    padding: .5rem;
    background: $primary-color;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px #0000005c;
    label{
        color: white;
        font-weight: 500;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.disabled{
    cursor: none;
    background: rgba(0, 0, 0, 0.38);
}

.card{
  padding: 1ch;

  .card-header{
      h1{
          font-weight: 300;
      }
      display: flex;
      justify-content: space-between;
  }
}

form{
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem
}

.form-actions{
    display: flex;
    flex-direction: column;
}

.expand{
    transform: rotate(180deg);
    transition: 100ms;
}

.collapse{
    transform: rotate(0deg);
    transition: 100ms;
}
