<div *ngIf="!message">
    <div>
        <h1 style="text-align: center;">
            Recupera tu cuenta
        </h1>
        <p>Te enviaremos un correo para que puedas recuperar tu cuenta</p>
    </div>
    <form action="" [formGroup]="recoverForm" (submit)="submit()" >
        <mat-form-field>
            <mat-label>
                Correo electrónico
            </mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="recoverForm.invalid || uploading">
                <span *ngIf="!uploading">
                    Envíar correo de recuperación
                </span>
                <mat-spinner diameter="35" *ngIf="uploading"></mat-spinner>
            </button>
        </div>
    </form>
</div>
<div class="message" *ngIf="message">
    <h1>
        {{message.name}}
    </h1>
    <p>
        {{message.message}}
    </p>
</div>