<mat-card class="card">
    <div class="section">
        <div class="card-header">
            <h1> Configuración de perfil </h1>
        </div>
        <mat-divider></mat-divider>
        <div class="card-header">
            <h1> Configuración de datos personales</h1>
            <button mat-icon-button [color]="editPersonal? 'warn' : 'primary' " (click)="editPersonal = !editPersonal">
                <mat-icon> edit </mat-icon>
            </button>
        </div>
        <personal-data-form 
            [enable]="editPersonal" 
            [profile]="profile"
            [uploading]="uploadPersonal"
            (cancelForm)="editPersonal = !this.editPersonal"
            (personalData)="postProfileData($event)"
        ></personal-data-form>
    </div>
    <mat-divider></mat-divider>
    <div class="section">
        <div class="card-header">
            <h1> Información fiscal </h1>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 1rem;">
            <fiscal-data-form></fiscal-data-form>
        </div>
    </div>
</mat-card>