.section{
    margin-bottom: 1rem;
    .fields{
        display: flex;
        flex-direction: column;
    }
}

.card{
    p{
        text-align: center;
        font-weight: bold;
    }
}

.card-header{
    display: flex;
    justify-content: space-between;
    margin-top: 1ch;
}