<mat-card class="card">
    <div class="section">
        <div class="card-header">
            <h1>
                Configuraciones de visualización de menu
            </h1>
            <button mat-raised-button color="primary" (click)="alternateEdit()">
                <mat-icon>
                    edit
                </mat-icon>
                Editar
            </button>
        </div>
        <form class="fields" [formGroup]="editMenuForm">
            <mat-form-field>
                <mat-label>
                    Nombre que debe aparecer en el menu
                </mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-slide-toggle formControlName="iva">
                Calcular Iva dentro de las ordenes
            </mat-slide-toggle>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="section">
        <h1>
            Configuraciones de subscripción
        </h1>
        <div class="grid-container" style="margin-bottom: 1rem;">
            <div class="mat-elevation-z8">
                <mat-card class="card">
                    <h3>
                        Estatus de subscripción
                    </h3>
                    <p>
                        activo
                    </p>
                </mat-card>
            </div>
            <div class="mat-elevation-z8">
                <mat-card class="card">
                    <h3>
                        Proxima Renovación
                    </h3>
                    <p>
                        31-12-2024
                    </p>
                </mat-card>
            </div>
            <div class="mat-elevation-z8">
                <mat-card class="card">
                    <h3>
                        Siguiente cargo
                    </h3>
                    <p>
                        {{400 | currency}}
                    </p>
                </mat-card>
            </div>
        </div>
        <div class="section">
            <app-table
            [title]="title"
            [data]="data"
            [headers]="headers"
            [setSize]="data? data.length : 0"
            [config]="tableConfig"
            (create)="create()"
            (edit)="edit($event)"
            (deleteItem)="deleteItem($event)"
        ></app-table>
        </div>
    </div>
</mat-card>