<div class="dialog">
    <div class="header">
        <h1>
            Url de menu
        </h1>
    </div>
    <div class="qr">
        <img src="{{qr}}" alt="" style="width: 250px; height: 250px;">
    </div>
    <div class="form-actions">
        <button mat-raised-button (click)="dialogRef.close()">
            <mat-icon>
                done
            </mat-icon>
            aceptar
        </button>
        <button mat-raised-button color="primary" (click)="navigateToMenu()" >
            <mat-icon>
                exit_to_app
            </mat-icon>
            Ir al menu
        </button>
    </div>
</div>