@import "../../../colors.scss";

.item{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    max-width: 150px;
    .img{
        width: 100%;
        aspect-ratio: 1/1;
        background: grey;
        border-radius: 1rem;
    }
    .title{
        width: 100%;
        font-weight: lighter;
        margin: .5rem;
    }
    .description{
        color: hsl(0deg, 0%, 60%);
        white-space: nowrap;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        height: 2ch;
        width: 100%;
        margin: 0;
    }
    .price{
        color: hsl(0deg, 0%, 20%);
        width: 100%;
        text-align: left;
        font-size: 12px;
        font-weight: bold;
        margin: .5rem;
    }
    button{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &:hover{
        transform: scale(1.05);
        transition: 100ms ease;
        cursor: pointer;
    }
}

