<div class="item mat-elevation-z5" >
    <div (click)="itemSelected.emit(product)" class="item">
        <img src="{{product.croppedImage}}" class="img" alt="">
    <h2 class="title"> {{product.name}} </h2>
    <p class="description"> {{product.description}} </p>
    <p class="price"> {{product.price | currency}} </p>
    </div>
    <button mat-button color="primary"
        [ngStyle]="personalization? {color: personalization.personalization.buttonColor} : {}"
        (click)="orderItem.emit(product)"
        >
        <mat-icon> add_shopping-cart </mat-icon>
        Agregar
    </button>
</div>